<!--<?xml version='1.0' encoding='utf-8'?>-->
<!--<!DOCTYPE hibernate-configuration PUBLIC-->
<!--        "-//Hibernate/Hibernate Configuration DTD//EN"-->
<!--        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">-->

<!--<hibernate-configuration>-->

<!--    &lt;!&ndash; a SessionFactory instance listed as /jndi/name &ndash;&gt;-->
<!--    <session-factory name="CCH-PU">-->

<!--        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/bankdb</property>-->
<!--        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>-->
<!--        <property name="hibernate.connection.username">postgres</property>-->
<!--        <property name="hibernate.connection.password">Azerty@</property>-->
<!--        <property name="hibernate.show_sql">true</property>-->
<!--        <property name="hibernate.hbm2ddl.auto">update</property>-->








<!--        &lt;!&ndash; mapping files &ndash;&gt;-->
<!--&lt;!&ndash;        <mapping resource="org/hibernate/auction/Item.hbm.xml"/>&ndash;&gt;-->
<!--&lt;!&ndash;        <mapping resource="org/hibernate/auction/Bid.hbm.xml"/>&ndash;&gt;-->

<!--        &lt;!&ndash; cache settings &ndash;&gt;-->
<!--        <class-cache class="org.hibernate.auction.Item" usage="read-write"/>-->
<!--        <class-cache class="org.hibernate.auction.Bid" usage="read-only"/>-->
<!--        <collection-cache collection="org.hibernate.auction.Item.bids" usage="read-write"/>-->

<!--    </session-factory>-->

<!--</hibernate-configuration>-->